/**  Footer ******************  */

.footer-nav {
    background-color: var(--clr-light-blue);
    
}

.footer-nav li a {
    color: var(--clr-dark-blue);
}

.footer-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}